{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Matrix Field Preview plugin for Craft CMS 3.x
 *
 * Matrix Field Preview index.twig
 *
 * @author    Timmy O'Mahony 
 * @copyright Copyright (c) 2020 Timmy O'Mahony 
 * @link      https://weareferal.com
 * @package   MatrixFieldPreview
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("weareferal\\matrixfieldpreview\\assetbundles\\matrixfieldpreview\\MatrixFieldPreviewAsset") %}
{% do view.registerAssetBundle("weareferal\\matrixfieldpreview\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/weareferal/matrix-field-preview/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Matrix Field Preview" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('matrix-field-preview') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@weareferal/matrixfieldpreview/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('matrix-field-preview') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "Index CP Section body goes here"|t('matrix-field-preview') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
